.appPage{
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color:$tint-color;
  // min-width:1450px;
  .leftNav{
    width:210px;
    background: $dark-color;
  }
  .view{
    width:100%;
    &-info{
      padding-left:33px;
      padding-right: 33px;
    }
  }
}
.el-message{
  //top: 80px!important;
  z-index: 99999999!important;
}
